@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-soft: #ffffff;
  --color-dark: #212429;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 32px;
}

body {
  font-family: "Montserrat";
}

/* BARRA DE NAVEGACIÓN */

header {
  width: 100%;
  border-bottom: 1px solid var(--color-dark);
  padding: 16px 0;
  position: fixed;
  background-color: var(--color-soft);
  transition: padding 0.2s ease-in-out;
  z-index: 1;
}

header:hover {
  padding: 36px;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.principal-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.principal-nav li a {
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--font-size-m);
  transition: font-weight 0.2s ease-in-out;
}

.principal-nav li a:hover {
  font-weight: bold;
}

.secondary-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.secondary-nav li {
  transition: transform 0.2s ease-in-out;
}

.secondary-nav li:hover {
  transform: scale(1.5);
}

/* CONTENIDO PRINCIPAL */
main {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-l);
  font-variant: small-caps;
  font-weight: bold;
  color: var(--color-dark);
  align-self: flex-start;
  padding: 32px;
}
.all-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 64px 0;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 64px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.text-card {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 8px;
  font-size: var(--font-size-s);
}

.product-price {
  font-weight: bold;
}

.img-card {
  border-radius: 8px;
  width: 100%;
  transition: transform 0.3s ease-in;
  transition: box-shadow 0.3s easy;
}

.img-card:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 16px #f4f4f4;
}

/* MAQUETACIÓN FOOTER */

footer {
  width: 100%;
  background-color: var(--color-dark);
  padding: 32px 0;
}

.footer-items {
  max-width: 1280px;
  color: var(--color-soft);
  font-size: var(--font-size-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 32px;
}

footer ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.img-box {
  background-color: var(--color-soft);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

/* CAMBIOS EN MAQUETACIÓN CUANDO LA PANTALLA ES MENOR DE 920px */

@media (max-width: 920px) {
  .products-container {
    grid-template-columns: 1fr;
  }

  .navbar ul {
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .footer-items {
    width: 100%;
    font-weight: bold;
    flex-direction: column;
    align-items: start;
  }

  footer ul li {
    border-bottom: 1px solid var(--color-soft);
    width: 100%;
    padding: 32px 0 16px 0;
  }
}
